.primary{
    height: 42px;
    width: 190px;
    background: #F27623;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
}

.primary:hover{
    background: #D74C11;
}