.history{
    background: url("../img/historia/historia-background.png");
    height: 400px;
    color: white;
}

.history .section-title {
    width: 20%;
}

.carroussel-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.pagination{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid yellow; */
    width: 400px;
}

.pagination-item{
    border-bottom: 1px solid white;
    width: 40px;
}

.active{
    border-bottom: 3px solid white;
}

.history-date{
    font-weight: 600;
    font-size: 63px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

.history-article{
    text-align: center;
    line-height: 25px;
    width: 900px;
    margin-bottom: 50px;
}
