.partners{
    background-color: #4EB4BF;
    height: 350px;
}

.partners .section-title {
    width: 22%;
}


.partners p{
    color: white;
    line-height: 30px;
    font-size: 16px;
}

.partners-img-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.logo-empresa{
    width: 150px;
}