.projects {
    padding: 37px 82px;
    background: linear-gradient(180deg, #004D40 0%, rgba(215, 76, 17, 0.5) 0%), url("../img/projects/background.png");
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.projects h2 {
    margin: 0;
    width: 22%;
}

.container-projects {
    display: flex;
    border: solid black 1px;
    padding: 57px 0px;

} 

.container-projects .navegation {
    display: flex;
    width: 100%;
    border: solid red 1px
}

.img-projects img {
    width: 100%;
}

.img-projects {
    width: 30%;
}