.projects{
    padding: 37px 82px;
    background:linear-gradient(180deg, #004D40 0%, rgba(215, 76, 17, 0.5) 0%), url("../img/projects/background.png");
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.projects h2{
    margin: 0;
    width: 22%;
 }