.who-are {
    background-color: #4EB4BF;
    color: white;
    text-align: center;
}

.who-are .section-title {
    width: 30%;
}

.who-are p {
    margin-top: 50px;
    line-height: 30px;
    text-align: initial;
    font-size: 16px;
}

.who-are .primary {
    margin-top: 5%;
}