.who-are {
    background-color: #4EB4BF;
    height: 370px;
    padding: 37px 82px;
    color: white;
    text-align: center;
}

.who-are h2 {
    margin: 0;
    width: 30%;
}

.who-are p {
    margin-top: 50px;
    line-height: 30px;
    text-align: initial;
    font-size: 16px;
}

.who-are .primary {
    margin-top: 5%;
}